ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  height: 90px;
  overflow: hidden;
  background-color: #52bee5;
  font-family: 'Quicksand', sans-serif;
}
li {
  float: right;
}
li a {
 display:block;
 text-align: center;
 padding: 20px;
 text-decoration: none;
 font-size: 25px;
 margin-bottom: 30px;
 font-family: 'Quicksand', sans-serif;
 color: #000;
}
li a:hover {
  background-color: #ffe88e;
}
.bigheader{
  margin: 100px;
  padding: 0px;
}
h1 {
  text-align: center;
  font-family: 'Permanent Marker', sans-serif;
  font-size: 40px;
  margin: 0px;
  padding: 0px;
}
p {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 23px;
  margin: 5px;
  padding: 0px;
}
.heroImg{
  margin: 10px;
  padding: 0px;  
}
.heroImg1{
  margin: 10px;
  padding: 0px;
  text-align: left;
}
.heroImg2{
  margin: 10px;
  padding: 0px;
  text-align: right;
}
.heroImg3{
  margin: 10px;
  padding: 0px;
  text-align:left;
}
img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}